@font-face {
    font-family: 'objectivitybold';
    src: url('../fonts/objectivity1/objectivity-bold-webfont.woff2') format('woff2'),
         url('../fonts/objectivity1/objectivity-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'objectivitymedium';
    src: url('../fonts/objectivity1/objectivity-medium-webfont.woff2') format('woff2'),
         url('../fonts/objectivity1/objectivity-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'objectivityregular';
    src: url('../fonts/objectivity2/objectivity-regular-webfont.woff2') format('woff2'),
         url('../fonts/objectivity2/objectivity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'objectivityregular', sans-serif;
    font-size: var(--navigation-menu);
    line-height: 1.6;
    margin: 0 20px;
}

a {
    font-family: 'objectivityregular', sans-serif;
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--main-titre);
}

h2 {
    font-family: 'objectivitymedium', sans-serif;
    font-size: var(--titre-article);
}

h3 {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--titre-navigation-accueil);
}

h4 {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--titre-article);
}

p {
    font-family: 'objectivityregular', sans-serif;
    font-size: var(--corps-acceuil);
    line-height: 1.6;
    margin: 0 20px;
}

