@font-face {
    font-family: 'objectivitybold';
    src: url('../fonts/objectivity1/objectivity-bold-webfont.woff2') format('woff2'),
         url('../fonts/objectivity1/objectivity-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'objectivitymedium';
    src: url('../fonts/objectivity1/objectivity-medium-webfont.woff2') format('woff2'),
         url('../fonts/objectivity1/objectivity-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'objectivityregular';
    src: url('../fonts/objectivity2/objectivity-regular-webfont.woff2') format('woff2'),
         url('../fonts/objectivity2/objectivity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'objectivityregular', sans-serif;
    font-size: var(--navigation-menu);
    margin: 0 20px;
}

a {
    font-family: 'objectivityregular', sans-serif;
    text-decoration: none;
    color: var(--white);
}

h1 {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--main-titre);
    text-align: center;
}

h2 {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--titre-article);
    text-align: center;
    font-weight: 300;
}

h3 {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--titre-navigation-accueil);
    margin-left: 15px;
}

h4 {
    font-family: 'objectivityregular', sans-serif;
    font-size: var(--sous-titre-article);
    font-weight: 300;
    margin-left: 18px;
}

.pintroduction {
    font-family: 'objectivitymedium', sans-serif;
    font-size: var(--introduction-acceuil);
    line-height: 26px;
    text-align: center;
}
.paccueil {
    font-family: 'objecobjectivityregular', sans-serif;
    font-size: var(--corps-accueil);
    margin-left: 15px;
}

.pbouton-home-page {
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
}

.pchapo-article {
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--chapo-article);
    margin-top: 100px;
    margin-left: 27px;
    text-align: left;
}


.pcorps-article-margin-top-40px {

    font-family: 'objectivitymedium', sans-serif;
    font-size: var(--corps-article);
    margin-top: 40px;
    text-align: left;
    letter-spacing: -6.5%;
}


.pcorps-article-margin-top-20px {
    font-family: 'objectivitymedium', sans-serif;
    font-size: var(--corps-article);
    margin-top: 20px;
    text-align: left;
    letter-spacing: -6.5%;
}


.pcorps-article-margin-top-50px {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--corps-article);
    margin-top: 50px;
    text-align: left;
    letter-spacing: -6.5%;
}


.film-name-margin-top-150px {
    font-family: 'objectivityregular', sans-serif;
    font-size: var(--film-name);
    margin-top: 150px;
    text-align: left;
    letter-spacing: -6.5%;
}

.pimage-text {
    font-family: 'objectivityregular', sans-serif;
    font-size: var(--image-text);
    letter-spacing: -6.5%;
}

