body {
  color: var(--white);
  background-color: var(--main-backgroud);
  font-family: 'objectivitybold';
}
.p {
  color: yellow;
  font-family: var(--objectivityregular)
}
.body {
  background-color: var(--background);
}
.p
.margintop40{
  margin-top: 40px;
}
.margintop50{
  margin-top: 50px;
}
.margintop70{
  margin-top: 70px;
}
.margintop100{
  margin-top: 100px;
}
.margintop80{
  margin-top: 80px;
}
.margintop110{
  margin-top: 110px;
}
.margintop120{
  margin-top: 120px;
}

.marginleft31{
  margin-left: 31px;
}

