img{
    max-width: 100%;
}

.img-frise{
    max-width: 65%;
    margin-left: 31px;
    display: flex;
}

.margintop335 {
    margin-block-start: 335px;
}

.bgcolor2{
    background-color: var(--second-backgroud);
}