/*Paramètres géneraux*/

img{
    max-width: 100%;
}

video{
    max-width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}




/*Image article*/

/*Lieu*/

.img-redirection-lieu{
    width: 289px;
    height:  161px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.img-lieu-ossuaire{
    width: 349px;
    height: 227px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-lieu-foret{
    width: 349px;
    height: 197px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Film*/

.img-redirection-film{
    width: 289px;
    height: 161px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.img-film-affiche{
    width: 349px;
    height: 196px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-film-photo-soldat{
    width: 349px;
    height: 431px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-film-decoration{
    width: 349px;
    height: 213px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Livre*/

.img-redirection-livre{
    width: 289px;
    height: 161px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.img-livre-couverture{
    width: 245.15px;
    height: 372px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-livre-statue{
    width: 341.88px;
    height: 369px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Musique*/

.img-musique-trois-mur{
    width: 353px;
    height: 200.03px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-musique-affiche{
    width: 295.92px;
    height: 481px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Regret*/

.img-redirection-regret{
    width: 289px;
    height: 161px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.img-regret-bombe{
    width: 350.22px;
    height: 197px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-regret-eclair{
    width: 353.17px;
    height: 215px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Espoir*/
.img-espoir-matrix{
    width: 353px;
    height: 209px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Frise*/
.img-frise{
    max-width: 65%;
    margin-left: 31px;
    display: flex;
}


/*Filmographie*/

.img-filmographie1{
    margin-top: 50px;
    height: 359px;
    width: 269.25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie2{
    margin-top: 50px;
    height: 361px;
    width: 270.75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie3{
    margin-top: 50px;
    height: 359px;
    width: 260.72px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie4{
    margin-top: 50px;
    height: 359px;
    width: 258.92px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie5{
    margin-top: 50px;
    height: 359.49px;
    width: 239.66px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie6{
    margin-top: 50px;
    height: 359px;
    width: 269.25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie7{
    margin-top: 50px;
    height: 359px;
    width: 269.25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie8{
    margin-top: 50px;
    height: 346.22px;
    width: 272px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-filmographie9{
    margin-top: 50px;
    height: 358.66px;
    width: 269px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.


/*Logo*/

.align-item-rs{
    display: flex;
    justify-content: space-between;
}

.img-insta{
    position: relative;
    left: 20%;

}

.img-behance{    
    position: relative;
    left: 20%;
}

.sigle-age{
    margin-left: 20px;
    vertical-align:top;
}


/*Index langue*/


.language-fr{
    height: 89.02px;
    width: 133.54px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.language-en{
    height: 89.02px;
    width: 133.54px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}