:root {
/* Color styles */
--white: rgba(255, 255, 255, 1);
--second-backgroud: rgba(106, 129, 73, 1);
--third: rgba(172, 173, 148, 1);
--dynamic-1: rgba(69, 77, 77, 1);
--dynamic-2: rgba(171, 171, 171, 1);
--black: rgba(15, 15, 15, 1);
--main-backgroud: rgba(20, 28, 28, 1);

/* Text-size styles */
--main-titre: 36px;
--introduction-acceuil: 25px;
--corps-accueil: 14.0px;
--bouton-home-page: 14px;
--footer-titre: 16px;
--footer-name: 16px;
--footer-corps: 14px;
--titre-menu: 32px;
--navigation-menu: 26.35px;
--titre-article: 40px;
--titre-navigation-accueil: 32.43px;
--chapo-article: 17px;
--sous-titre-article: 30px;
--corps-article: 17px;
--image-text: 14px;
--film-name: 30px;

--imagetest: url(../../../public/icones/icon_right-arrow.svg);
--url: url("../../../public/img/menu/film-tu-ne-tueras-point.webp")
}