/*Accueil*/

/* Lieu */
.bgimagelieux {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 441px;
    background-size: 100%;
    background-image: url(../../../public/img/menu/lieu-verdun.webp);
}
.bgimagelieux::before {
content: url(../../../public/icones/icon_down-arrow.svg);
display: flex;
justify-content: flex-end;
flex-direction: column;
flex-wrap: nowrap;
align-content: center;
align-items: center;
margin-bottom: -381px;

}
button.lieux {
    width: 246px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 71px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--third);
    color: var(--withe);
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    border: none;
}
button.lieux::after {
padding-top: 1px;
margin-left: 70px;
content: url(../../../public/icones/icon_right-arrow.svg);
}


/* Film */
.bgimagefilm {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 529px;
    background-size: 100%;
    background-image: url(../../../public/img/menu/film-tu-ne-tueras-point.webp);
}
.bgimagefilm::before {
    content: url(../../../public/icones/icon_down-arrow.svg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: -357px;}
button.film {
    width: 246px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 51px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--third);
    color: var(--withe);
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    border: none;
}
button.film::after {
padding-top: 1px;
margin-left: 70px;
content: url(../../../public/icones/icon_right-arrow.svg);
}


/* Livre */
.bgimagelivre {
    display: flex;
    flex-direction: column;
    justify-content: end;
     height: 544px;
     background-size: 100%;
     background-image: url(../../../public/img/menu/livre-lart-de-la-guerre.webp);
}
.bgimagelivre::before {
    content: url(../../../public/icones/icon_down-arrow.svg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: -331px;
}
button.livre {
    width: 246px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 38px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--third);
    color: var(--withe);
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    border: none;
}
button.livre::after {
padding-top: 1px;
margin-left: 70px;
content: url(../../../public/icones/icon_right-arrow.svg);
}


/* Musique */
.bgimagemusique {
    display: flex;
    flex-direction: column;
    justify-content: end;
     height: 466px;
     background-size: 100%;
     background-image: url(../../../public/img/menu/musique-snk.webp);
}
.bgimagemusique::before {
    content: url(../../../public/icones/icon_down-arrow.svg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: -347px;
}
button.musique {
    width: 246px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 55px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--third);
    color: var(--withe);
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    border: none;
}
button.musique::after {
padding-top: 1px;
margin-left: 70px;
content: url(../../../public/icones/icon_right-arrow.svg);
}


/* Regret */
.bgimageregret {
    display: flex;
    flex-direction: column;
    justify-content: end;
     height: 463px;
     background-size: 100%;
     background-image: url(../../../public/img/menu/regret-arme.webp);
}
.bgimageregret::before {
    content: url(../../../public/icones/icon_down-arrow.svg);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    margin-bottom: -349px;
}
button.regret {
    width: 246px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 39px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--third);
    color: var(--withe);
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    border: none;
}
button.regret::after {
padding-top: 1px;
margin-left: 70px;
content: url(../../../public/icones/icon_right-arrow.svg);
}


/* Espoir */

.bgimageespoir {
    display: flex;
    flex-direction: column;
    justify-content: end;
     height: 458px;
     background-size: 100%;
     background-image: url(../../../public/img/menu/espoir-cyberguerre.webp);
}
button.espoir {
    width: 246px;
    height: 34px;
    margin-top: 40px;
    margin-bottom: 22px;
    margin-left: 15px;
    padding-left: 8px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    background-color: var(--third);
    color: var(--withe);
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    border: none;
}
button.espoir::after {
padding-top: 1px;
margin-left: 70px;
content: url(../../../public/icones/icon_right-arrow.svg);
}

/*Fin Accueil*/



/*Header*/

/*Frise*/
.bg-image-header-frise {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/frise/img-champ-de-croix.webp);
}

/*Lieu*/
.bg-image-header-lieu {
    margin-top: -30px;
    height: 351px;
    background-image: url(../../../public/img/lieu/img-au-revoir-la-haut.gif);
    background-size: 230%;
}

/*Film*/
.bg-image-header-film {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/film/img-film.webp);
    background-size: 100%;

}

/*Livres*/
.bg-image-header-livre {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/livre/img-livre.webp);
    background-size: 100%;
}

/*Musique*/
.bg-image-header-musique {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/musique/img-musique.webp);
    background-size: 100%;
}

/*Regret*/
.bg-image-header-regret {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/regret/img-regret.webp);
    background-size: 100%;
}

/*Espoir*/
.bg-image-header-espoir {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/espoir/img-espoir.webp);
    background-size: 100%;


}

/*Filmographie*/
.bg-image-header-filmographie {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/filmographie/img-mel-gibson.webp);
    background-size: 100%;
}

/*Frise*/
.bg-image-header-extrait {
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/extrait/img-extrait-livre.webp);
    background-size: 100%;
}

/*Accessibilite*/
.bg-image-header-accessibilite{
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/accessibilite/img-header-accessibilite.webp);
    background-size: 100%;
}

/*Autres*/
.bg-image-header-autres{
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/autres/img-header-autres.webp);
    background-size: 100%;
}

/*Contact*/
.bg-image-header-contact{
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/contact/img-header-contact.webp);
    background-size: 100%;
}

/*Glossaire*/
.bg-image-header-glossaire{
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/glossaire/img-header-glossaire.webp);
    background-size: 100%;
}

/*Propos*/
.bg-image-header-propos{
    margin-top: -27px;
    height: 351px;
    background-image: url(../../../public/img/propos/img-header-propos.webp);
    background-size: 100%;
}
