.pfooter-titre {
    font-family: 'objectivitybold', sans-serif;
    font-size: var(--footer-titre);
    color: var(--black);
    letter-spacing: -6.5%;
    margin-left: 5px;
}

.pfooter-name {
    font-family: 'objectivitymedium', sans-serif;
    font-size: var(--footer-name);
    color: var(--black);
    letter-spacing: -6.5%;
    margin-left: 5px;
}

.pfooter-corps {
    font-family: 'objectivityrmedium', sans-serif;
    font-size: var(--footer-corps);
    color: var(--black);
    letter-spacing: -6.5%;
    margin-left: 5px;
}

.imglogommi {
    max-width: 46.67%;
    position: absolute;
    right: 0px;

}

.btn {
    font-family: 'obectivitymedium', sans-serif;
    font-size: var(--bouton-home-page);
    background-color: var(--third);
    color: var(--white);
    text-align: left;
    width: 246px;
    height: 31px;
    border: 0px;
    margin-left: 15px;
}

.flag-lang {
    position: absolute;
    margin-left: 144px;
    margin-top: -100px;
}


.rectangle {
    position: absolute;
    width: auto;
    height: 420px;
    background-color: var(--white);
}

.barre-footer{
    position: relative;
    height: 0px;
    width: 303px;
    left: 33px;
    margin-top: 15px;    
    background-color: var(--third);
    border: 3px solid #ACAD94;
    border-radius: 5px;
}

.sous-ligne{
    text-decoration: underline;
}
