.frise-barre{
    box-sizing: border-box;
    position: absolute;
    width: 11px;
    height: 2166px;
    left: 303px;
    top: 452px;

background: var(--black);
border-radius: 11.20px;
}


.rectangle-citation{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 188px;
    background: var(--dynamic-1);
    border: 1.62px solid var(--black);
}


.elipse1{
box-sizing: border-box;

position: absolute;
width: 20.19px;
height: 20.19px;
left: 299.11px;
top: 594px;
border-radius: 40px;
background: var(--dynamic-2);
border: 3.20px solid var(--black);
}